.Header {
  background-color: black;
  color: white;
  display:flex;
  justify-content: space-between;
  padding: 25px 50px;
}

.Header ul {
  list-style-type: none;
  display:flex;
}

.Header li {
  margin-right: 12px;
}

.highllight {
  color: white;
}